{% extends 'school/base.html' %}
{% load static %}

{% block content %}

    <center>
    <h2>Choisissez une activitée :</h2>
    </center>

    <center>
    <div class="formulaire">
        <table id='t02'>
        <tr>
            <TD id='t02'>
                <a href="/alphabet_list">
                <div class="morph">
                    <img title="Alphabet." src="{% static 'images/alphabet.png' %}" alt="alphabet">
                  </div>
                </a>
            </TD>
            <TD id='t02'>
                <a href="/dictee_list" class="title">
                  <div class="morph">
                    <img title="Dictée." src="{% static 'images/dictée.png' %}" alt="dictee">
                  </div>
                </a>
            </TD>
            <TD id='t02'><a href="/math_acceuil/acceuil">
              <div class="morph">
                <img title="Mathématiques." src="{% static 'images/math.png' %}" alt="math">
              </div>
            </a>
            </TD>
        </tr>


        </table>
    </div>
    </center>

{% endblock %}
