{% extends 'school/base.html' %}

{% block content %}
    <h1>Choisissez un niveau :</h1>
        <div class="dictee">

            <li><h2><a href="{% url 'exo_alphabet' level=1 %}">Lettres avant/après (niveau 1)</a></h2></li>
            <li><h2><a href="{% url 'exo_alphabet' level=2 %}">Lettres avant/après (niveau 2)</a></h2></li>
            <li><h2><a href="{% url 'exo_ecrire_alphabet' level=1 %}">Ecrire l'alphabet.</a></h2></li>
            <li><h2><a href="{% url 'exo_ecrire_alphabet' level=2 %}">Ecrire l'alphabet à l'envers.</a></h2></li>
        </div>

{% endblock content %}
