{% extends 'school/base.html' %}

{% block content %}

    <h2>Ajouter un dictée :</h2>
        <a href="{% url 'dictee_new' %}">Ajouter une dictée</a>
    <hr>

    <h2>Voici la liste des dictées :</h2>

    {% regroup dictees by classe as classe_list %}

    <ul>
    {% for classe in classe_list %}
        <li><h2>{{ classe.grouper }}</h2>
        <ul>

        {% for dictee in classe.list %}
            <h2><a href="{% url 'exo_dictee' pk=dictee.pk %}">{{ dictee.title }}</a></h2>
            {{ dictee.text }}
        {% endfor %}
        </ul>
        </li>
    {% empty %}
        aucune dictée enregistrée
    {% endfor %}
{% endblock content %}
