{% extends 'school/base.html' %}

{% block content %}
    <h2>Voici la liste des dictées :</h2>

    {% regroup dictees by classe as classe_list %}

    <ul>
    {% for classe in classe_list %}
        <li><h2>{{ classe.grouper }}</h2>
        <ul>

        {% for dictee in classe.list %}
            <div class="dictee">
                <div class="date">
                    {{ dictee.created_date }}
                </div>
                <h1><a href="{% url 'exo_dictee' pk=dictee.pk %}">{{ dictee.title }}</a></h1>
                <p>{{ dictee.text }}</p>
            </div>
        {% endfor %}
        </ul>
        </li>
    {% empty %}
        aucune dictée enregistrée
    {% endfor %}
{% endblock content %}
