{% extends 'school/base.html' %}
{% load staticfiles %}
{% block content %}
<head>
    <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
    <script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
   <script type="text/javascript" src="/static/js/submitform.js"></script>
</head>
    <h2>Voici la dictée {{ dictee.title }}</h2>
    <hr>
    <div>

        {% if result == True %}
            <h2 style="color:green">Bravo !!! {{ expected_mot }}</h2>
        {% else %}
            {% if result == False %}
                <h2 style="color:red">Et non la bonne orthographe est {{ expected_mot }}</h2>
            {% endif %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td><div class="bouton_moyen"><input onclick='responsiveVoice.speak("{{mot}}","French Female");' type='button' value='🔊 Ecouter le mot'/></div></td>
                    <td><div class="bouton_moyen"><input type="text" name="proposition" autocomplete="off"></div></td>
                    <td><div class="bouton_moyen"><input type="submit" name="Verifier" value="Verifier"></div></td>

                </tr>
            </table>
            <hr>

        </form>
    </div>
    {% if nb_ok_de_suite == 1000 %}
        <img  style="position:absolute; TOP:300px; LEFT:{{position_bipbip}}px;" src="{% static 'images/birdfeed.gif' %}" alt="My image"/>
    {% elif nb_ok_de_suite == 0 %}
        <img  style="position:absolute; TOP:300px; LEFT:{{position_bipbip}}px;" src="{% static 'images/road_runner_stop.png' %}" alt="My image"/>
    {% elif nb_ok_de_suite > 2 %}
        <img  style="position:absolute; TOP:300px; LEFT:{{position_bipbip}}px;" src="{% static 'images/road_runner_fonce.png' %}" alt="My image"/>
    {% else %}
        <img  style="position:absolute; TOP:300px; LEFT:{{position_bipbip}}px;" src="{% static 'images/road_runner_cours.png' %}" alt="My image"/>
    {% endif  %}


    <script type="text/javascript">
        $(function() {
                responsiveVoice.OnVoiceReady = function() {
                    responsiveVoice.speak("{{txt_a_dire}}","French Female",{rate: 1,pitch: 1,volume: 1});
                }
            })
    </script>
    <script type="text/javascript">

        window.onload = () => {
    responsiveVoice.speak("{{txt_a_dire}}","French Female",{rate: 1,pitch: 1,volume: 1});
}
    </script>

{% endblock content %}

