{% extends 'school/base.html' %}
{% load static %}

{% block content %}

    <h2>Ajouter un problème :</h2>
        <a href="{% url 'probleme_new' %}">
            <img title="Créer un nouveau problème" src="{% static 'images/bullet_add_32.gif' %}" alt="Django" align="absmiddle" />
            Ajouter un problème
        </a>
    <hr>

    <h1>Voici la liste des problémes :</h1>

    {% regroup problemes by classe as classe_list %}

    <ul>
    {% for classe in classe_list %}
        <li><h2>{{ classe.grouper }}</h2>
        <ul>
            {% for probleme in classe.list %}
              <li><h2><a href="{% url 'exo_probleme' pk=probleme.pk %}">{{ probleme.title }}</a></h2>{{ probleme.text|linebreaksbr }}</li>
            {% endfor %}
        </ul>
        </li>
    {% empty %}
        aucun probleme enregistré
    {% endfor %}
    </ul>
    {% endblock content %}




