{% extends 'school/base.html' %}

{% block content %}
    <h2><b><center>Calculs :</center></b></h2>
    <div class="table">
        <table id='t02'>
        <tr><td><h2>Additions</h2></td><td><h2><a href="/math_calcul/additions/1">1 chiffre</a></h2></td><td><h2><a href="/math_calcul/additions/2">2 chiffres</a></h2></td></tr>
        <tr><td><h2>Soustractions</h2></td><td><h2><a href="/math_calcul/soustractions/1">1 chiffre</a></h2></td><td><h2><a href="/math_calcul/soustractions/2">2 chiffres</a></h2></td></tr>
        <tr><td><h2>Multiplications</h2></td><td><h2><a href="/math_calcul/multiplications/1">1 chiffre</a></h2></td><td><h2><a href="/math_calcul/multiplications/2">2 chiffres</a></h2></td></tr>
        <tr><td><h2>Divisions</h2></td><td><h2><a href="/math_calcul/divisions/1">Divisions</a></h2></td><td><h2><a href="/math_calcul/divisions/2">Divisions</a></h2></td></tr>
        </table>
    </div>

{% endblock content %}
