{% extends 'school/base.html' %}

{% block content %}
    <h1>Nouveau problème</h1>
    <hr>
    <i><br>Mettre un titre dans <b>Title</b> et la classe dans <b>Classe</b> pour la retrouver plus facilement.
        <br>Entrez le texte du problème dans <b>Text</b>
        <br>Les variables doivent avoir le format suivant <b>{nom_type_valeurMin_valeurMax}</b>
        <br>exemple : combien vaut {A_int_0_99} moins {B_int_0_A}
        <br> A sera choisi au hasard entre 0 et 99
        <br> B sera choisi au hasard entre 0 et A, afin d'éviter les nombres négatifs pour le résultat
        <br><br><b>formule_resultat</b> formule qui donne le résultat, dans notre exemple : A - B
        <br><b>unite_resultat</b> est l'unité du résultat quand il y en a une.
    </i>
    <hr>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
